<h2><%= title %></h2>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/inv/add-classification" method="post" class="addClass">
    <label for="classification_name">Classification Name</label>
    <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z0-9]+$" title="No spaces or special characters allowed." value="<%= classification_name %>">
    <button type="submit">Add Classification</button>
</form>
